<!doctype html>
 <html lang="fr">

 <head>
 <meta charset="utf-8"/>
 <meta name="viewport" content="width=device-width, user-scalable=no">
 <link rel="stylesheet" href="{{ asset("dist/css/reset.css") }}"/>
 <script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous">
</script>


<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<link rel="stylesheet" href="{{ asset("dist/css/style.css") }}"/>
<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet"> 
 

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet"> 

  
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>


  <script>tinymce.init({ selector:'textarea' });</script>


<!-- Date Picker -->
<link rel="stylesheet" href="{{ asset("plugins/datepicker/jquery-ui.css") }}">

<title>AIPE Cloyes | {% block title %} Accueil {% endblock %}</title>
<meta name="description" content="Association Indépendante des Parents d’élèves des Écoles Publiques de Cloyes sur le Loir. École Maternelle Jacques Prevert et École Élémentaire Stéphane Pitard"/>
<link rel="icon" href="{{ asset("dist/image/kids.png") }}" />
</head>


<body>
{%  block body %}







{% endblock %}

</body>


</html>