{% extends "layout.html.twig" %}

{% block title %} Adhésion {% endblock %}

{% block content %}

docs en cours

<a href="{{ asset("upload/adhesion/fichier.docx") }}"> Telecharger le bulletin d'adhesion à nous retourner</a>

{% endblock %}