{% extends "layout.html.twig" %}

{% block title %} Bureau {% endblock %}

{% block content %}

	<h2>Membres du bureau de l'association</h2>


	<ul>
		<li><em>Le président</em> : Damien GUENET</li>
		<li><em>Le président adjoint :</em> Sandra THIERRY</li> 
		<li><em>Secrétaire :</em> Elodie ANDRILLON</li> 
		<li><em>Secrétaire adjoint :</em> Marie-Laure GERARD</li>
		<li><em>Secrétaire adjoint :</em> Amélie KIENER</li>
		<li><em>Trésorier :</em> Manuel CAILLET-BREILLET</li>
		<li><em>Trésorier adjoint :</em> Sarah JULIENNE</li> 
		<li><em>Trésorier adjoint :</em> OSSARD Jean-Louis</li>

	</ul>


{% endblock %}