{% extends "layout.html.twig" %}

{% block title %} Comptes Rendus {% endblock %}

{% block content %}

     <h2>Liste des comptes-rendus</h2>
     
     
     
    <table class="bordered">
		       

		        <tbody>
				   	
				   	{% for compteRendu in comptesRendus %}
				
					<tr>
						
						
						
						<td>
							{{ compteRendu.Titre }} 
						</td>	
					



                                                <td><a href="{{ asset("upload/compte_rendu/"~compteRendu.fichier) }}"><i class="fa fa-download" aria-hidden="true"></i>
</a></td>
						
                         	
					</tr>
				
				{% endfor %}
		        </tbody>
		      </table>

    


{% endblock %}