{% extends "layout.html.twig" %}

{% block title %} Comptes Rendus {% endblock %}

{% block content %}


<a href="{{ asset("upload/compte_rendu/fichier.docx") }}"> Telecharger le compte-rendu</a>

{% endblock %}