{% extends "layout.html.twig" %}

{% block content %}


<h2>Qu'est-ce qu'un conseil d'école ?</h2>

   <section>
    <p>Les conseils d'école ont été créés en 1990, dans le cadre de la loi d'orientation sur l'éducation de 1989. Ils permettent d'institutionnaliser une réunion périodique entre tous les acteurs de l'école ( enseignants, représentants de la mairie, parents d'élèves, intervenants...).</p>
    
    <p>Le conseil d'école se réunit au moins une fois par trimestre, sur un ordre du jour adressé au moins huit jours avant la date des réunions des membres du conseil. En outre, il peut également être réuni à la demande du directeur de l'école, du maire ou de la moitié de ses membres.</p>
    </section>
    
    <section>
    
        <h3>A quoi sert le conseil d’école ?</h3>
    
            <p>Le conseil d'école établit et vote le règlement intérieur de l'école.</p>
            
            <p>Il participe à l'élaboration du projet d'école et donne son avis sur les questions intéressant la vie de l'école.</p>
            
            <p>Ainsi, il s'occupe :</p>
            
                <ul>
        
                    <li>Des actions pédagogiques entreprises pour atteindre les objectifs nationaux</li>
                    <li>De l'utilisation des moyens alloués à l'école</li>
                    <li>Des conditions d'intégration des enfants handicapés</li>
                    <li>Des activités périscolaires</li>
                    <li>De la restauration scolaire</li>
                    <li>Des sorties scolaires</li>
                    <li>De la sécurité des élèves</li>
                    <li>De l'hygiène scolaire</li>
                    <li>Du CLAE</li>
        
                </ul>
            
            <p>Le conseil d'école donne son accord pour l'organisation d'activités complémentaires éducatives, sportives ou culturelles.</p>
            
            <p>Il définit le calendrier des rencontres entre les instituteurs et les parents d'élèves.</p>
    
    </section>
    
    <section>
        
        <h3>Qui siège au conseil d’école ?</h3>
        
        
        <p>Principalement :</p>
        
        <ul> 
            <li>la directrice ou le directeur de l’école, président du conseil d'école</li>
            <li>le maire (ou son représentant) et l'adjoint au maire chargé des affaires scolaires</li>
            <li>les enseignants de l’école</li>
            <li>les représentants élus des parents d’élèves, en nombre égal à celui des classes de l’école</li>
            <li>le délégué départemental de l'Education nationale chargé de visiter l'école</li>
            <li>l'Inspecteur de l'Education Nationale de la circonscription</li>
            <li>tout autre membre  de la communauté éducative, sur invitation du directeur de l'école</li>
        </ul> 
        
    </section>
    
     <h3>Pour en savoir plus:</h3>
    
    
    <p><a href="https://www.service-public.fr/particuliers/vosdroits/F1399">Informations et sources de l'article sur vosdroits.service-public.fr</a></p>

{% endblock %}