{% extends "layout.html.twig" %}

{% block content %}


<h2>Qu'est-ce qu'un représentant de parent d'élève ?</h2>

    <section>
        <p>Les représentants de parents d’élèves sont des intermédiaires d’information et de négociation entre les parents et l’école. Ils siègent au conseil d'école. Ils peuvent influer pour tout ce qui touche à la vie des élèves (questions d'hygiène, de comportements, poids des cartables, emplois du temps, aide aux élèves ....)</p>
        
        <p>Ils peuvent intervenir auprès des directeurs d'école pour évoquer un problème particulier ou pour assurer une médiation à la demande d'un ou des parents concernés.</p>
    
        <p>Pour tout cela, nous sommes à votre disposition.</p>

    </section>

    <h3>Pour en savoir plus:</h3>
    
    
    <p><a href="http://www.education.gouv.fr/cid2659/les-parents-d-eleves.html">Informations sur le site education.gouv.fr</a></p>

    <p><a href="https://www.service-public.fr/particuliers/vosdroits/F1880">Informations sur le site vosdroits.service-public.fr</a></p>

{% endblock %}