{% extends "layout.html.twig" %}

{% block title %} L'association ? {% endblock %}

{% block content %}

<h2>L'association de parents d'élèves : Pour quoi faire ? </h2>

<h3>Nos objectifs :</h3>

	<ul>
		<li>Etablir un lien social entre les familles</li>
		<li>Organiser des évènements en faveur des enfants</li>
		<li>Veiller à maintenir des relations cordiales avec les écoles, les coopératives scolaires et la mairie</li>
		<li>Participer au financement des différents projets scolaires des écoles</li>

	</ul>

<h3>Etre membre actif c’est :</h3>

	<ul>
		<li>Etre informé de toutes les manifestations et réunions</li>
		<li>S’investir ensemble pour les enfants</li>
		<li>Voter à l’AG</li>
		<li>Proposer ses idées</li>

	</ul>




{% endblock %}