{% extends "layout.html.twig" %}

{% block content %}

	{% for article in articles %}

		<div class="article">

			<h2>{{ article.titre }}</h2>

			

			{% if article.image != 'imagenondisponible.png' %}

			<img style="width: 300px" src="{{ asset("upload/article/"~article.image) }}" alt="image"/>

			{% endif %}

			<p>{{ article.contenu}}</p>

		</div>





	{% endfor %}



{% endblock %}