{% extends "layout.html.twig" %}

{% block content %}

	{% for article in articles %}

		<div class="article">

			<h2>{{ article.titre }}</h2>

			

			{% if article.image != 'imagenondisponible.png' %}

			<img src="{{ asset("upload/article/"~article.image) }}" alt="image"/>

			{% endif %}

                        <p>{{ article.contenu|raw |nl2br}}</p>

		</div>





	{% endfor %}



{% endblock %}