{% extends "layout.html.twig" %}

{% block content %}


<h2>MENTIONS LEGALES </br>www.aipe28.fr</h2>


<h3>[nom de l'association]</h3>
<p>[adresse postale]</p>
<p>[téléphone]</p>
<p>e mail</p>


<h3>Directeur/trice de publication : [nom prénom]</h3>
<p>[e-mail]</p>


<h3>Concepteur du site :</h3>
<p>Cécile Besnard</p>
<p>soartweb@gmail.com</p>


<h3>Hébergeur :</h3>
<p>[coordonnées de l'hébergeur du site]"</p>


{% endblock %}