{% extends "layout.html.twig" %}

{% block title %} Les représentants {% endblock %}

{% block content %}

<h2>Les représentants de la Maternelle</h2>

	<ul>
		 <li>CAILLET-BREILLET Manuel</li>
		 <li>THIERRY Sandra</li>
		 <li>JULIENNE Sarah</li>
		 <li>VILLETTE Marie</li>
		 <li>KIENER Amélie</li>
		 <li>ABEL dit DELAMARQUE Steve</li>
		
	</ul>


<h2>Les représentants de l'élémentaire</h2>

	<ul>
		 <li>GUENET Damien</li>
		 <li>GERARD Marie-Laure</li>
		 <li>ANDRILLON Elodie</li>
		 <li>LIETARD Sabine</li>
		 <li>KIENER Amélie</li>
		 <li>ZAMBETTI Marion</li>
		

	</ul>


{% endblock %}